body {
  background-image: url("/img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f0f0f0;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

@media screen and (min-width: 701px) {
	#yournickname {
		font-family: monospace;
		font-size: 35px;
	}
	
	#messenger {
		font-family: monospace;
		font-size: 80px;
    }
	
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 60px;
		line-height: 60px;
	}
}

@media screen and (max-width: 700px) {
	#yournickname {
		font-family: monospace;
		font-size: 25px;
	}
	
	#messenger {
		font-family: monospace;
		font-size: 26px;
    }
	
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 27px;
		line-height: 27px;
	}
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh; 

  display: flex;
  align-items: center;
}

.reroll-button {
	width: 100%;
}

.text-footer {
	color: #f0f0f0;
}

.text-footer a {
	color: #cdcdcd;
}

#modalBrowser {
	color: #000 !important;
}